.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contadorFlex{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.contador{
    margin-right: 10px;
}